## Langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

## Chroma 
CHROMA_HOST=
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=

## Ollama 
OLLAMA_EMBED_MODEL=
OLLAMA_URL=
OLLAMA_CHAT_MODEL=